<h1>$band.getName()<h1>

  <form action="/bands/$band.getId()/update" method="post">
    <input id="update" name="update" type="text">

    <button type="submit" class="btn btn-success" id="update-submit">Update Band Name</button>
  </form>

  <br>
  <form action="/bands/$band.getId()/delete" method='post'>
    <button type="submit" class="btn btn-success" id="delete-band">Delete Band</button>
  </form>

<a href="/" class="btn btn-success">Home</a>
