<h1>Band Tracker</h1>

<a href="/bands/new" class="btn btn-success">Add New Band</a>

<a href="/bands" class="btn btn-success">View All Bands</a>

<a href="/venues" class="btn btn-success">View All Venues</a>
